.services {
  text-align: center;
  padding: 5% 0px;

  .main-title {
    font-size: 1.2rem;
    opacity: 0.7;
    text-transform: capitalize;
    padding-bottom: 1.5%;
  }

  .service_title {
    font-size: 2.3rem;
    font-weight: 400;
    padding-bottom: 5%;
  }

  .services_primary_wripper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
  }

  @media screen and (max-width: 767px) {
    .services {
      padding: 0px 4%;
    }
    .service_title {
      font-size: 1.8rem;
      padding-bottom: 10%;
    }
  }
}
