.services {
    text-align: center;
    padding: 5% 0px;

    .main-title {
        font-size: 19px;
        opacity: .7;
        text-transform: capitalize;
        padding-bottom: 1.5%;
    }

    .service_title {
        font-size: 40px;
        font-weight: 400;
        padding-bottom: 5%;
    }

    .services_primary_wripper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 70px;
    }
}