:root {
  --primary_Clr: #0a2640;
  --round_bg: #1c3d5b;
  --btn_Clr: #65e4a3;
}

.enterprice {
  padding: 5% 8%;
  background: var(--primary_Clr);

  .title {
    font-size: 2.2rem;
    color: #fff;
    padding-bottom: 5%;
  }

  .enterprice_wripper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
  }
}

.card_wripper {
  width: 300px;
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  cursor: progress;
  transition: 0.5s ease-out;

  .description {
    font-size: 1.3rem;

    .quote {
      font-size: 1.37;
    }
  }

  .details {
    height: 15vh;
    display: flex;
    align-items: center;
    margin-top: 10%;

    .img {
      width: 60px;
      height: 60px;
      border-radius: 50px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .person {
      margin-left: 13px;

      .name {
        font-size: 1.25rem;
        color: #0a2640;
        font-weight: 500;
        padding-bottom: 7px;
      }

      .position {
        font-size: 14px;
      }
    }
  }
}

.card_wripper:hover {
  transform: scale(1.06);
}

@media screen and (max-width: 767px) {
  .enterprice {
    padding: 10% 6%;
  }
  .enterprice .title {
    font-size: 2rem;
    padding-bottom: 15%;
  }
}
