.number {
  text-align: center;
  padding: 70px 50px;
  background: #0a2640;
  color: #fff;

  .key_title {
    font-size: 1.2rem;
    padding-bottom: 1.2%;
  }

  .title {
    font-size: 2.5rem;
    font-weight: 300;
    padding-bottom: 2%;
    padding: 3% 20% 6% 20%;
  }

  .number_wripper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    .number_content {
      width: 300px;
      padding: 20px 0px;

      .num {
        font-size: 5rem;
        font-weight: 300;
        color: #65e4a3;
      }

      .description {
        font-size: 1.3rem;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .number .title {
    font-size: 1.8rem;
    padding: 3% 0px 8% 0px;
  }
  .number .number_wripper {
    width: 95%;
  }
}
