.blog_news {
    padding: 1.4% 8% 5% 8%;
    text-align: center;

.blog_news_wripper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
    row-gap: 40px;
    flex-wrap: wrap;
}

.title {
    font-size: 45px;
    padding-bottom: 5%;
    font-weight: 300;
    padding: 5% 0px;
    text-align: start;
}
}
